body {
    margin: 20px auto;
    width: 90%;
    height: 80%;
}

div{
    width: 80%;
    height: 70%;
    margin-left:15%;
    margin-top: 13%;
    /*padding:1px 16px;*/
    /*height: 80%;*/
    /*width: 70%;*/
}

.container{
    height: 70%;
    margin-top: 15%;
    margin-bottom: 7%;
}
.banner {
    /*font-size: 2.5em;*/
    position: fixed;
    font-family: 'Raleway';
    background-image: url("/CS205_G1.github.io/img/banner.png");
    background-repeat: no-repeat;
    background-position: 100% 60%;
    /**background-color: #1db0b8;*/
    color: #00343f;
    text-align: center;
    top: 0;
    width: 90%;
    height: 22%;
}

ul li {
    font-family: 'Raleway';
    padding: 5px 5px;
    font-size: 1.2em;
}


a {
    text-decoration: none;
    color: #464646;
    text-align: center;
}



nav ul {
    /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
    font-family: 'Raleway';
    padding: 10px;
    list-style: none;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    width: 18%;
    text-align: center;
    background-color: #011935;
    position: fixed;
    height: 70%;
    top: 23%;
    font-size: 1.2em;
    display: inline-block;
    /*overflow: auto;*/
    /*float: left;*/
}



nav li a {
    display: block;
    color: #37c6c0;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

nav li a.active {
    color: white;
}

nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}



p {
    font-family:'Raleway';
    font-size: 1.1em;
    line-height: 1.4em;
    color: #000;
}
p.subtitle{
    font-family: 'Raleway';
    font-size: 1.5em;
    font-weight: bold;
}

p.banner_names{
    font-family: 'Raleway';
    font-size: 0.9em;
}

/*footer {
    margin-left:27%;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    position: fixed;
    display: block;
}

footer ul{
    align-self: center;
    position: fixed;
}
footer ul li {
    display: inline;
    font-size: 1.2em;
    /* background-color: rgb(255,255,255) */
    
}*/
/* tell the container's children to float left: */
.float_right > * {
    float:left;
    margin-right:5px;
}

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.footer{
    margin-left:35%;
    width: 40%;
    position: fixed;
    background-color: #f1f1f1;
   bottom: 0;
   font-family:'Raleway';
   font-size: 0.8em;
   /*width: 100%;*/
   color: #00343f;
   text-align: center;
   padding: 0px;
   height: 5%;
}

code{
    background-color: #f1f1f1;
    font-size: 1.1em;
}

xmp{
    background-color: #f1f1f1;
    font-size: 1.1em;
}

