<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/CS205_G1.github.io/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Pangolin|Skranji|Raleway" rel="stylesheet">
	</head>
	<!-- <body background="/CS205_G1.github.io/img/bg2.jpeg"> -->
	<body>
		<nav class="banner">
		<p> Parallelized Giant Sudoku Solver</p>
		<p class="subtitle">Spring 2018 CS205 Final Project Group 1<br>
		Shiyun Qiu | Yiqi Xie | Xiangru Shu | Yuyue Wang
	 	</p>
		</nav>
		<nav>
    		<ul>
        		<li><a href="/CS205_G1.github.io">Introduction</a></li>
	        	<li><a href="/CS205_G1.github.io/model">Model Design</a></li>
        		<li><a href="/CS205_G1.github.io/util">How to Use</a></li>
			<li><a href="/CS205_G1.github.io/performance">Model Performance</a></li>
			<li><a href="/CS205_G1.github.io/discussion">Conclusion and Future Work</a></li>
    		</ul>
		</nav>
		<div class="container">
			
    		{{ content }}
			
		</div><!-- /.container -->
		<div class='footer'>
    		<p><a href="https://github.com/shiyunqiu/CS205_Sudoku">github.com/shiyunqiu/CS205_Sudoku</a> </p>
		</div>
	</body>
</html>
