<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/CS205_G1.github.io/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Pangolin|Skranji|Raleway" rel="stylesheet">
	</head>
	<!-- <body background="/CS205_G1.github.io/img/bg2.jpeg"> -->
	<body>
		<nav class="banner">
		<img src="/CS205_G1.github.io/blob/master/img/662984808.jpg" alt="banner" width="100%" height="70%">
		</nav>
		<nav>
    		<ul>
			<li><a href="/CS205_G1.github.io">Home</a></li>
        		<li><a href="/CS205_G1.github.io/sudoku">Soduku Problem</a></li>
	        	<li><a href="/CS205_G1.github.io/model">Model Design</a></li>
        		<li><a href="/CS205_G1.github.io/util">How to Use</a></li>
			<li><a href="/CS205_G1.github.io/performance">Model Performance</a></li>
			<li><a href="/CS205_G1.github.io/discussion">Discussion</a></li>
    		</ul>
		</nav>
		<div class="container">
			
    		{{ content }}
			
		</div><!-- /.container -->
		<div class='footer'>
    		<p><a href="https://github.com/shiyunqiu/CS205_Sudoku">github.com/shiyunqiu/CS205_Sudoku</a> </p>
		</div>
	</body>
</html>
